# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
myenv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# TensorFlow/Modelos descargados
*.tflite
*.pb
*.ckpt
*.h5
.cache/

# Logs
*.log
logs/
